﻿@model IEnumerable<Model.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Comments </h2>
<div class="row">
    @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { style = "width: 100%" }))
    {
        <input type="hidden" name="FkPost" value="@ViewBag.idPost">
        <div class="form-group" style="width: 100%">
            <div class="col-md-12">
                <label for="Comment1">Comment</label>
                <textarea class="form-control rounded-0" id="Comment1" rows="10" name="Comment1"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12" style="margin-top: 10px">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Back to Post", "Details", "Posts", new { id = @ViewBag.idPost }, new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>

        
        <div class="card" style="margin-top: 10%">
            <ul class="list-group list-group-flush">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        <h6 class="card-subtitle mb-2 text-muted">@item.CreationDate</h6>
                        @item.Comment1
                    </li>
                }
            </ul>
        </div>


