﻿@model Model.GeneralPost

@{
    ViewBag.Title = "Details";
}



<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            @Model.Title
        </h2>
        <h6 class="card-subtitle mb-2 text-muted">@Model.WriterName - @Model.ApproveDate</h6>
        <p class="card-text">@Model.Text</p>
        @if (User.IsInRole("1"))
        {
            if (Model.FkStatus == 1 || Model.FkStatus == 4)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style="margin-left: 10px;" });
                @Html.ActionLink("Submit", "SubmitPost", new { id = Model.Id }, new { @class = "btn btn-success", style="margin-left: 10px;"  });
            }
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary", style="margin-left: 10px;"  })
        }
        else if (User.IsInRole("2"))
        {
            if (Model.FkStatus == 2)
            {
                @Html.ActionLink("Approve", "ApprovePost", new { id = Model.Id }, new { @class = "btn btn-success", style="margin-left: 10px;"  });
                @Html.ActionLink("Reject", "RejectPost", new { id = Model.Id }, new { @class = "btn btn-warning", style="margin-left: 10px;"  });
            }
            @Html.ActionLink("Delete", "DeletePost", new { id = Model.Id }, new { onclick = "return confirm('Are you sure you wish to delete this post?');", @class = "btn btn-danger", style="margin-left: 10px;"  });
            @Html.ActionLink("Back to List", "Approved", null, new { @class = "btn btn-primary", style="margin-left: 10px;"  })
        }
        else
        {
            @Html.ActionLink("Back to List", "index", "home", null, new { @class = "btn btn-primary", style="margin-left: 10px;"  })
        }


        @if (Model.FkStatus == 3)
        {
            @Html.ActionLink("Comments", "index", "Comments", new { idPost = Model.Id }, new { @class = "btn btn-secondary", style="margin-left: 10px;"  });
        }
    </div>
</div>
