﻿@model IEnumerable<Model.GeneralPost>

@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>
@if (User.IsInRole("1"))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success"})
    </p>
}
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Writer
        </th>
        <th>
            Publish Date
        </th>
        <th>
            Status
        </th>
        <th>
            Details
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WriterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary"})
            </td>
        </tr>
    }

</table>