﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Published Posts", "Index", "Home")</li>
                    @if (User.IsInRole("1"))
                    {
                        <li>@Html.ActionLink("My Posts", "index", "Posts")</li>
                    }
                    else if (User.IsInRole("2"))
                    {
                        <li>@Html.ActionLink("Posts Processed", "Approved", "Posts")</li>
                        <li>@Html.ActionLink("Pending Posts", "Pending", "Posts")</li>
                    }

                    @if (!Request.IsAuthenticated)
                    {
                        <li class="dropdown order-1" style="margin-top: 7px">
                            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle" style="background-color: transparent; color: white;">Login <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right mt-2" style="min-width: 250px; border-radius: 22px;">
                                <li class="px-3 py-2" style="margin: 10%;">
                                    @using (Html.BeginForm("ValidateUser", "Users", FormMethod.Post))
                                    {
                                        <div class="form-group">
                                            <input id="UserName" name="UserName" placeholder="UserName" class="form-control form-control-sm" type="text" required="">
                                        </div>
                                        <div class="form-group">
                                            <input id="Password" name="Password" placeholder="Password" class="form-control form-control-sm" type="password" required="">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                                        </div>
                                    }
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("LogOut", "LogOut", "Users")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
