﻿@model IEnumerable<Model.GeneralPost>

@{
    ViewBag.Title = "Posts";
}

    <h2>Published Posts</h2>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Writer
        </th>
        <th>
            Publish Date
        </th>
        <th>
            Details
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WriterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproveDate)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Posts", new { id = item.Id }, new { @class = "btn btn-primary"})
            </td>
        </tr>
    }

</table>
